<p id="notice"><%= notice %></p>
  <section class="main-header">
    <%= image_tag 'flower_png8.png' %> 
  </section>
  
<h1>TOPページ</h1>
<div>
    <p>
        ブログを投稿したり、更新したり、削除したりできます。
        投稿したブログは一覧で見ることができます。
    </p>
</div>

<%= link_to 'ブログ一覧へ', bs_blogs_path, class:"subbuttom" %>
